.rtl{direction:rtl !important;}
.left-to-right-text,.left-to-right-text *{text-align:left !important;}
.center-text,.center-text *{text-align:center !important;}

.text-80{
	width:80%;
	color:#ffffff;
	margin:0 auto;
}
.text-65{
	width:65%;
	color:#ffffff;
	margin:0 auto;
}
.persian_text .text-80,.persian_text .text-65{direction:rtl;}
.arabic_text .text-80,.arabic_text .text-65{direction:rtl;}
.english_text .text-80,.english_text .text-65{direction:ltr;}

.persian_text ul,.persian_text li{direction:rtl;text-align:justify;}
.arabic_text ul,.arabic_text li{direction:rtl;text-align:justify;}
.english_text ul,.english_text li{direction:ltr;text-align:justify;}

.persian_text div,.persian_text button,.persian_text .ripple,.persian_text .button--material,.persian_text .button--large--cta,.persian_text .button,.persian_text input{
	font-family:"iranyekan",Tahoma !important;
	font-size:14px;
}
.arabic_text div,.arabic_text button,.arabic_text .ripple,.arabic_text .button--material,.arabic_text .button--large--cta,.arabic_text .button,.arabic_text input{
	font-family:"Droid Arabic Kufi",Tahoma !important;
	font-size:14px;
}
.just_english,.just_arabic,.just_persian{display:none;}
.english_text .just_english{display:block;}
.arabic_text .just_arabic{display:block;}
.persian_text .just_persian{display:block;}

.english_text ons-input .text-input{direction:ltr !important;}

.dialog-container .text-input{color:#000000 !important;}
.dialog-container .text-input::placeholder{color:#646464 !important;}

ul.colored-bullets,ul.colored-bullets li{list-style: none;position: relative;padding: 0;}
ul.colored-bullets li::before {
	content: "•";
	color: #e30613;
	display: inline-block;
	width: 16px;
	position: absolute;
	right: -21px;
	font-size: 24px;
	top: -7px;
}
.english_text ul.colored-bullets li {
	line-height: 150%;
}
.english_text ul.colored-bullets li::before {
	left: -21px;
	right: initial;
	font-size: 37px;
	/* top: -11px; */
	top: 0px;
}
.arabic_text ul.colored-bullets li::before{
	top:-9px;
}

.required_but_empty input {
    border-bottom: 1px solid red;
}

.page_bg {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	background-image: url(../images/pages/bg.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	z-index: -1;
}
.page_bg_overflow {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	background-image: url(../images/pages/bg.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	z-index: auto;
	overflow-x: hidden;
	overflow-y: auto;
}
/* //////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* صفحه انتخاب زبان */


/* //////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////// */


















